:root {
  --header-color: #dff3e3;
  --footer-color: #dff3e3;
  --border: #4a4238;
  --last-update-color: #623a92;
  --top-nav-color: #b88603;
  --message-color: #623a9260;

  --heading-font: "Lora";
  --paragraph-font: "Dosis";
  --heading-font-color: #4a4238;
  --nav-font-color: #fff;

  --hero-child-color: rgba(255, 255, 255, 0.75);

  --forecast-color: #dff3e3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), serif;
}
p {
  font-family: var(--paragraph-font), "Open Sans", sans-serif;
}
header {
  background-color: var(--header-color);
  text-align: center;
  padding: 2em 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

img {
  width: 100%;
}

main figure {
  margin: 0;
}

main section {
  border: 0.1px solid #623a92;
  padding: 0 1rem;
  background-color: #eee;
}

footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 1em 0;
}
