:root {
  --header-color: #f1caa7;
  --footer-color: #cd5334;
  --border: #2e282a;
  --last-update-color: #;
  --top-nav-color: #cd5334;

  --card-color: #f1caa770;
  --card-color-2: #cd533470;

  --heading-font: "EB Garamond";
  --paragraph-font: "Source Sans Pro";
  --heading-font-color: #2e282a;
  --nav-font-color: #2e282a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), serif;
  color: var(--heading-font-color);
}
p {
  font-family: var(--paragraph-font), sans-serif;
}

/*---------- Header ----------*/

header {
  background-color: var(--header-color);
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

header img {
  max-width: 50%;
  height: auto;
  margin-left: 2%;
}

/*---------- Nav ----------*/

nav button {
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--nav-font-color);
}

nav {
  margin: 0;
  font-family: var(--paragraph-font), serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--nav-font-color);
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

nav ul a.active {
  background-color: var(--card-color-2);
  color: #fff;
}

nav ul.hide {
  display: none;
}

/*---------- Main ----------*/

main {
  padding: 1rem 2%;
  display: block;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

.page-title {
  text-align: center;
}

.article-wrapper {
  background-color: var(--card-color);
  padding: 0.5rem;
  margin: 2rem 0;
  border: 1px solid var(--border);
}

.article-title {
  text-align: center;
}

.info-b-wrapper {
  text-align: center;
}

.info-button {
  background-color: var(--card-color-2);
  display: inline;
  padding: 1rem;
  border: 1px solid var(--border);
}

.info-button a {
  text-decoration: none;
  font-family: var(--heading-font);
  color: var(--heading-font-color);
  font-weight: bold;
}

.info-button:hover {
  background-color: var(--header-color);
  color: rgba(0, 0, 0, 0.7);
}

.highlight-img a {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

div.weather {
  border: 0.5px solid var(--border);
  text-align: center;
}

div.weather h4 {
  background-color: var(--card-color-2);
  padding: 1rem 0;
  margin: 0;
}

div.weather ul {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0 2% 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

div.weather li.label {
  font-weight: bold;
}

section.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
}

section.contact-us h2 {
  grid-column: 1 / 3;
}

section.address {
  grid-column: 1/2;
  grid-row: 2/4;
}

section.phone {
  grid-column: 2/3;
  grid-row: 2/3;
}

section.email {
  grid-column: 2/3;
  grid-row: 3/4;
}

div.map-wrapper {
  grid-column: 1/3;
  grid-row: 4/5;
}

iframe.contact-map {
  width: 100%;
}

/*---------- Form ----------*/

form.form {
  font-family: var(--paragraph-font);
  margin: 0 2%;
  background-color: var(--footer-color);
  border: 1px solid var(--border);
  padding: 1rem;
}

form.form input {
  width: 80%;
  padding: 0.5rem;
  margin: 0.2rem 0 0.5rem;
}

form.form input.membership {
  width: 10%;
}

/*---------- Directory ----------*/

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

.cards a {
  display: block;
  font-family: var(--paragraph-font);
}

/*---------- Join ----------*/

#member-key {
  max-width: 375px;
  margin: 2rem auto;
}

/*---------- Footer ----------*/

footer {
  background-color: var(--footer-color);
  text-align: center;
  padding: 1em 0;
}

textarea.comments {
  width: 100%;
  margin-bottom: 0.8rem;
}

input.submit {
  width: 100%;
}

main .cards section {
  border: 1px solid var(--border);
  padding: 0 1rem;
  background-color: var(--card-color);
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
